@model IEnumerable<SessionalAllocation.Models.Department>

@{
    ViewData["Title"] = "All Departments";
    // This page is an admin page used to view ALL departments, able to edit the department details and set an owner
}

<h1>Departments</h1>

<table class="table" id="Departments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentOwnerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchoolNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentOwnerNavigation.FullName)
                </td>
                <td>
                    <a asp-action="Units" asp-route-id="@item.Id">Units</a> |
                    <a asp-action="EditDepartment" asp-route-id="@item.Id">Edit Department</a> |
                    <a asp-action="DetailsDepartment" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {


    <script type="text/javascript">
        $(document).ready(function () {
            $('#Departments').filterTable({ minRows: 0 , ignoreColumns: [4]});
        });
    </script>
}
