@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<table class="table" id="Users">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRolesString)
                </td>
                <td>
                    <a asp-action="ManageUser" asp-route-id="@item.Id">Manage user</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Users').filterTable({ minRows: 0, ignoreColumns: [2] });
        });
    </script>
}
